body{
    font-size: 14px;
    font-family: 'roboto';
}
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container{
    width: 1280px;
    margin: auto;
}

.box ul li{
    background-color: aquamarine;
    padding: 100px;
    width: 50px;
    margin: 10px 0;
}

.box ul{
    display: flex;
    flex-direction: column;
 
    
}


.box-2 ul li{
    background-color: rgb(221, 255, 0);
    padding: 100px;
    width: 50px;
    margin: 10px 0;
}
.box-2 ul{
    display: flex;
  flex-direction: column-reverse;
    
}

.background-2{
    background-color: antiquewhite;
}
.background-1{
    background-color: blue;
}
.background-3{
    background-color: rgb(255, 0, 0);
}

.background-4{
    background-color: rgb(255, 12, 12);
}


.background-8{
    background-color: rgb(79, 62, 95);
}

.box-3 ul li{
    background-color: aquamarine;
    padding: 100px;
    width: 50px;
    margin: 10px 10px;
}

.box-3 ul{
    display: flex;
    flex-direction: row-reverse;  
}

.box-4 ul li{
    background-color: rgb(255, 255, 255);
    width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}

.box-4 ul{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(21, 30, 40); 
}

.box-five > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.box-five {
    display: flex;
    justify-content: flex-end;
    background-color: DodgerBlue;
}

.flex-container  {
    display: flex;
justify-content: center;
  background-color: rgb(71, 73, 76);
}

.box-6 li{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


.flex-container{
    display: flex;
  justify-content: space-around;
  background-color: rgb(255, 0, 0);
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-tow{
    display: flex;
    height: 200px;
    align-items: flex-end;
    background-color: DodgerBlue;
}

.flex-container-tow > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-three{
    display: flex;
    height: 200px;
  align-items: stretch;
    background-color: rgb(55, 255, 0);
}

.flex-container-three > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-four{
    display: flex;
    height: 200px;
    align-items: baseline;
    background-color: rgb(6, 243, 255);
}

.flex-container-four > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


.flex-container-five{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: DodgerBlue;
}

.flex-container-five > div{
    background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
}

.flex-container-six{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-end;
    overflow: scroll;  
    background-color: rgb(77, 37, 103);
}

.flex-container-six > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-seven{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;  
    background-color: DodgerBlue;
    
}

.flex-container-seven > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-eight{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: center;
    overflow: scroll;  
    background-color: rgb(29, 33, 37);
    
}

.flex-container-eight > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}